body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url("https://fonts.googleapis.com/css?family=Caveat&display=swap");

#tom:hover {
  color: purple;
}

#tom:hover + #tomGif {
  display: block;
}

/* For react-confetti */
canvas {
  position: fixed !important;
  z-index: 1500 !important;
}
.strong {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}

